{% extends "scholarship.html" %}

{% block image_file %} 
"./static/images/laptop.jpg"
{% endblock %} 

{% block body %}
<h1>The Munich Federal Scholarship</h1>
This is for you all available information about munich federal scholarship
<p>Since you want to know more. I will take my time to go through everything that needs to be done and why
firstly, you need to apply Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vel explicabo neque delectus quidem nulla placeat? Suscipit, unde. Voluptate nesciunt expedita quia sapiente illum laborum libero soluta aut ullam modi.
	<h4>Eligibility</h4>

	<p>You nust be an African</p>
	<p>You must be in a federal university</p>
	<p>You must have subscribed to Top Scholars News weekly newsletter</p>

<h4>Requirements</h4>
	<p>minimum of two credits in every single subject in the undergraduate.</p>
	<p>Tell me more</p>
	<p>I don't want you to play.</p>
	<p>Okay, be serious now</p>
	<p>This is no joke.</p>
	<p>Now smile</p>
What else do you need to know.
I have no more information for you.
{% endblock %}

{% block application_link %}
"/html"
{% endblock %}
