{% extends "pages_base.html" %}

{% block page_title %}Internships Opportunities{% endblock %}
{% block opportunities %}
<article>
	<a href="#" class="image"><img src="static/images/laptop.jpg" alt="" /></a>
	<h3>The munich National Scholarship</h3>
	<p>This is an undergraduate scholarship opportunities for brilliant Africans who may not be able to further the education due to financial incapabilities. </p>
	<ul class="actions">
		<li><a href="munich.html" class="button">More</a></li>
	</ul>
</article>
<article>
	<a href="#" class="image"><img src="static/images/laptop.jpg" alt="" /></a>
	<h3>The munich National Scholarship</h3>
	<p>This is an undergraduate scholarship opportunities for brilliant Africans who may not be able to further the education due to financial incapabilities. </p>
	<ul class="actions">
		<li><a href="munich.html" class="button">More</a></li>
	</ul>
</article>
<article>
	<a href="#" class="image"><img src="static/images/laptop.jpg" alt="" /></a>
	<h3>The munich National Scholarship</h3>
	<p>This is an undergraduate scholarship opportunities for brilliant Africans who may not be able to further the education due to financial incapabilities. </p>
	<ul class="actions">
		<li><a href="munich.html" class="button">More</a></li>
	</ul>
</article>
<article>
	<a href="#" class="image"><img src="static/images/laptop.jpg" alt="" /></a>
	<h3>The munich National Scholarship</h3>
	<p>This is an undergraduate scholarship opportunities for brilliant Africans who may not be able to further the education due to financial incapabilities. </p>
	<ul class="actions">
		<li><a href="munich.html" class="button">More</a></li>
	</ul>
</article>
{% endblock %}

{% block other_title %}
Other Internship Opportunities
{% endblock %}

{% block other_link %}
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
<li><a href="munich.html">The munich National Scholarship</a></li>
{% endblock %}