<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<div id="wrapper">

				<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="home.html" class="logo"><strong>Top</strong> Scholars News</a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
				</ul>
			</header>
			<section id="banner">
			<span class="image object">
				<img src="static/images/form.jpg" alt="" />
			</span>
			</section>
		</div>
	</div>
</div>

	<body>

    	<h1>The Munich Federal Scholarship</h1>
    	This is for you all available information about munich federal scholarship
    	<p>Since you want to know more. I will take my time to go through everything that needs to be done and why
    	firstly, you need to apply
			<h4>Eligibility</h4>

			<p>You nust be an African</p>
			<p>You must be in a federal university</p>
			<p>You must have subscribed to Top Scholars News weekly newsletter</p>

		<h4>Requirements</h4>
			<p>minimum of two credits in every single subject in the undergraduate.</p>
			<p>Tell me more</p>
			<p>I don't want you to play.</p>
			<p>Okay, be serious now</p>
			<p>This is no joke.</p>
			<p>Now smile</p>
		What else do you need to know.
		I have no more information for you.
		<p>
		<button><a href="home.html">Apply now</a></button>
		</p>

	</body>

</html>
